#container {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
}
.headline {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/a2/31/db/a231db007c8c852ea469f013df93dfef.jpg);
}
a {
    text-decoration: none;
    color: black;
}